@mixin flex-column($gap: 0rem) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}


main {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .form-container {
        @include flex-column(0.75rem);
        width: 350px;
        color: white;

        form {
            width: 100%;
            @include flex-column(0.75rem);

            input {
                padding: 0.5rem;
                width: 100%;
                border-radius: 1.5rem;
                border: none;
            }



        }

    }
}